<div id="<%= dom_id art_piece %>">
  <p>
    <strong>Title:</strong>
    <%= art_piece.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= art_piece.artist.full_name %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= art_piece.release_date %>
  </p>

</div>
