<hr />

<div class="d-flex justify-content-center">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to "Browse Inventory", art_pieces_path, class: "nav-link #{active_class?(art_pieces_path)}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Art Piece Entry Form", new_art_piece_path, class: "nav-link #{active_class?(new_art_piece_path)}" %>
    </li>
  </ul>
</div>

<hr />