<%= render partial: "shared/header_and_tagline",
  locals: {
    title: "Art Piece Entry Form",
    tagline: "Use the below form to enter a new art piece into the system."
  }
%>

<%= render "shared/breadcrumbs" %>

<div class="d-flex justify-content-center mt-5">
  <%= render "form", art_piece: @art_piece %>
</div>