<p style="color: green"><%= notice %></p>

<%= render partial: "shared/header_and_tagline",
  locals: {
    title: @art_piece.title,
    tagline: @art_piece.artist.full_name
  }
%>

<%= render "nav" %>

<%= render @art_piece %>