<p style="color: green"><%= notice %></p>

<%= render partial: "employee", locals: { employee: @employee } %>

<div>
  <%= link_to "Edit this employee", edit_employee_path(@employee) %> |
  <%= link_to "Back to employees", employees_path %>
</div>
