<div id="<%= dom_id artist %>">
  <p>
    <strong>First name:</strong>
    <%= artist.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= artist.last_name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= artist.bio %>
  </p>

</div>
