<%= render partial: "shared/header_and_tagline",
  locals: {
    title: "New Artist Entry",
    tagline: "Use the form below to add an artist to the system."
  }
%>

<%= render partial: "shared/breadcrumbs" %>

<div class="d-flex justify-content-center">
  <%= render "form", artist: @artist %>
</div>